@font-face {
  font-family: 'DINCondensed';
  src: url('./src/font/DINCondensed/DINCondensed-Regular.woff') format('woff'), /* Modern Browsers */
       url('./src/font/DINCondensed/DINCondensed-Regular.ttf')  format('truetype')
}

$main_font: 'DINCondensed';
$main_color: #843428;

* {
  margin: 0;
  padding: 0;
  font-family: $main_font;
}

ul, li, button, a, h1, h2, p {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}

.box {
  max-width: 1300px;
  width: 100%;
  padding: 0 30px;
  margin: 0 auto;

  box-sizing: border-box;
}
.img_box {
  font-size: 0;
  img {
    width: 100%;
  }
}

.header {
  &_box {
    display: flex;
    justify-content: space-between;

    padding-top: 30px;
    padding-bottom: 30px;
  }
}

.banner {
  margin-right: 15px;
  &_description {
    display: flex;
  }
  &_logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 138px;
    margin-right: 10px;
  }
  &_head {
    margin: 10px 0;
    font-size: 30px;
    line-height: 1.2em;
    text-transform: uppercase;
  }
  &_address {
    font-size: 18px;
  }

  &_nav {
    padding-left: 129px;
  }
  &_social {
    display: flex;
  }
  &_link {
    max-width: 40px;
    width: 100%;
    margin-left: 10px;
    &:first-child {
      margin: 0;
    }
  }
  &_icon {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &_buttons {
    display: flex;
    margin-top: 30px;
  }
  &_button {
    display: block;
    padding: 10px 20px;
    margin-right: 30px;
    background: $main_color;

    font-size: 25px;
    line-height: 1.2em;
    text-transform: lowercase;
    color: #fff;
  }
}

.info {
  width: 30%;
  border-left: 3px solid $main_color;
  padding: 5px 0 5px 15px;
  &_item {
    color: #000;
    margin-bottom: 15px;
    font-size: 21px;
    a {
      color: #000;
    }
  }
}
